body, html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

.ttable {
    display: table;
    width: 100%;
    height: 100%;
}

.trow {
    display: table-row;
}

.tcell {
    display: table-cell;
}

.grow {
    bottom: 0;
    height: 100%;
}


.fill-parent-relative {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}


.drawing-app {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.drawing-canvas {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.relative-cell {
    position: relative;
}

.surface-overlay {
    cursor: crosshair;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: url('picture-human-body-big.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
}


.tcell.middle {
    vertical-align: middle;
}

.tcell.center {
    text-align: center;
}
